
html, body{
    margin: 0%;
    box-sizing: border-box;
    width: 100%;
    height: 100%;
}

/* CSS Variables */

:root{
    --primary-color: #4d61e0;
    --secondary-color: #9f4fee;
    --title-color: #141313;
    --text-color: #777777;
    --border-color: #201f1f17;
    --gradient-color: linear-gradient(90deg, #4d61e0 0%, #9f4fee 100%);
    /*--gradient-color: linear-gradient(90deg, #4458dc 0%, #D16DFF 100%);*/
    --shadow-color:  0px 10px 30px rgba(118, 85, 225, 0.3);
    --box-shadow: 0px 10px 30px rgba(57, 56, 61, 0.205);

    /* Font family */
    --hack: Hack, monospace;
}

/* ====== Navigation ======= */

#menu-bar{
    position: absolute;
    width: 100%;
    font-family: var(--hack);
    box-shadow: var(--box-shadow);
}

#menu-bar a:hover{
    color: var(--primary-color);
    background-image: var(--gradient-color);
    background-size: 100%;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

#menu-bar .active a{
    color: var(--primary-color);
    background-image: var(--gradient-color);
    background-size: 100%;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

#menu-bar span{
    color: var(--title-color);
}

/* ======= Hero banner ======= */

#hero{
    height: 100%;
    width: 100%;
    position: relative;
}

#hero .jumbotron{
    position: absolute;
    top: 50%;
    width: 100%;
    transform: translate(0, -50%);
}

#hero h1{
    font-family: var(--hack);
}

#hero .jumbotron h5{
    font-family: var(--hack);
    font-size: 12pt;
    color: dimgray;
}

#hero .col-lg-4 p{
    padding-top: 5rem;
    padding-left: 10rem;
}